.container {
            display: flex;
            gap: 2%;
            flex-wrap: wrap;
            align-content: start;
            height: 80vh;
            margin-top: 10px;
        }

        .item:nth-child(1) {
            width: 30%;
            height: 75%;
            border: 1px solid lightgray;
            padding: 10px
        }

        .item:nth-child(2) {
            flex-grow: 1;
            height: 50%;
            width: 60%;
            border: 1px solid lightgray;
            display: flex;
            flex-direction: column;
            align-items: start;
            padding-left: 10px;
            padding-right: 10px;
        }

        .item:nth-child(3) {
            width: 100%;
            height: 20%;
            padding-left: 10px;
            padding-bottom: 5px;
            flex-shrink: 1;
            border: 1px solid lightgray;
            font-family: 'Courier New', Courier, monospace;
            list-style: none;
        }

        table td,
        table th {
            border: 1px solid #c9c9c9;
            padding: 12px;
            text-align: left;
            background-color: white;
        }

        img{
            width: 120px;
        }

        .item{
            background-color: rgba(176, 196, 222, 0.171);
            font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
        }