body {
            width: 100%;
            height: 120vh;
            margin: 0;
            padding: 0;
        }

        .center {
            width: 100%;
            height: 100%;
            padding-top: 30px;
            gap: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: rgb(91, 55, 183);
        }

        .check {
            display: none;
        }

        .nav-bar {
            width: 390px;
            height: fit-content;
            padding: 35px;
            background: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: poppins;
            border-radius: 7mm;
            position: fixed;

        }

        .nav-bar label {
            display: flex;
            align-items: center;
            justify-content: left;
            font-size: 15px;
            font-weight: 500;
            padding: 10px;
            border-radius: 8mm;
            max-width: 32px;
            overflow: hidden;
            transition: 0.35s ease-out;
        }

        .nav-bar label span {
            font-size: 32px;
            margin-right: 10px;
        }

        .nav-bar label:hover {
            background: rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

        .check:nth-child(1):checked~.center .nav-bar label:nth-child(1),
        .check:nth-child(2):checked~.center .nav-bar label:nth-child(2),
        .check:nth-child(3):checked~.center .nav-bar label:nth-child(3),
        .check:nth-child(4):checked~.center .nav-bar label:nth-child(4),
        .check:nth-child(5):checked~.center .nav-bar label:nth-child(5) {
            background: var(--color1);
            max-width: 150px;
            color: var(--color2);
            padding: 10px 14px;
        }

        .check:nth-child(1):checked~.center {
            background: rgb(91, 55, 183);
        }

        .check:nth-child(2):checked~.center {
            background: rgb(201, 55, 157);
        }

        .check:nth-child(3):checked~.center {
            background: rgb(230, 169, 25);
        }

        .check:nth-child(4):checked~.center {
            background: rgb(17, 148, 170);
        }

        .check:nth-child(5):checked~.center {
            background: rgb(253 121 121);
        }


        .pagina {
            display: none;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 7mm;
            margin-top: 200px;
            width: 80%;
            height: fit-content;
            background-color: #f9f9f9;
        }

        .pagina h1 {
            font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
            font-weight: 500;
        }

        .nav-bar.scrolled {
            background-color: rgba(255, 255, 255, 0.479);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            box-shadow: 0 4px 6px rgba(122, 122, 122, 0.685);
        }

        .epicode {
            font-size: large;
            font-weight: 600;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .epicode:hover {
            color: rgb(250, 27, 94);
        }

        li a:hover {
            color: gold;
        }


        /* Style per il primo esercizio*/
        .container {
            display: flex;
            gap: 2%;
            flex-wrap: wrap;
            align-content: start;
            margin-top: 10px;
        }

        .item:nth-child(1) {
            width: 30%;
            height: 75%;
            padding: 10px
        }

        .item:nth-child(2) {
            flex-grow: 1;
            height: 50%;
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: start;
            padding-left: 10px;
            padding-right: 10px;
        }

        .item:nth-child(3) {
            width: 100%;
            height: 20%;
            padding-left: 10px;
            padding-bottom: 5px;
            flex-shrink: 1;
            font-family: 'Courier New', Courier, monospace;
            list-style: none;
        }

        table td,
        table th {
            border: 1px solid #c9c9c9;
            padding: 12px;
            text-align: left;
            background-color: white;
        }

        img {
            width: 120px;
        }

        .item {
            font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
        }


        /* Style per il secondo esercizio*/

        .container form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 20px
        }

        .form-field {
            display: flex;
            flex-direction: column;
            width: 30%;
            gap: 5px;
        }

        .genere-musicale {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 3mm;
            border: 1px solid lightgray;
            background-color: rgba(230, 169, 25, 0.103);
            padding: 10px;
            width: 30%;
        }

        .genere {
            display: grid;
            grid-template-columns: repeat(4, auto);
            row-gap: 0px;
            column-gap: 10px;
        }

        #termini {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
            border: 1px solid lightgray;
            padding: 10px;
            width: 30%;
            background-color: whitesmoke;
        }

        /* Style per il quarto esercizio*/

         #quarto-esercizio {
            margin: 0;
            height: 90vh;
            margin-top: 200px;
            font-family: 'Roboto', sans-serif;
        }

        #main {
            width: 100%;
        }

        #content {
            height: 100%;
        }

        #sidebar {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .sidebar-icon {
            padding: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .sidebar-icon p {
            margin: 0;
        }

        .sidebar-icon ion-icon {
            font-size: 1.5em;
        }

        #topbar {
            height: 8vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #logo {
            height: 50%;
        }

        #search-wrapper {
            display: flex;
            height: 50%;
        }

        #topbar-icons {
            display: flex;
        }

        #topbar-icons ion-icon {
            font-size: 2em;
        }

        #mic-icon ion-icon {
            font-size: 1.7em;
        }

        #search-btn {
            padding: 0 0.07em;
            font-size: 1.3em;
            display: flex;
            align-items: center;
        }

        #mic-icon {
            margin: 0 0.5em;
            display: flex;
            align-items: center;
        }

        #searchbar {
            width: 30em;
            border: 1px solid #ccc;
            padding: 0 0.5em;
            font-size: 1em;
            border-radius: 30px 0 0 30px
        }

        #search-wrapper button {
            border-radius: 0 30px 30px 0;
            padding: 0 15px;
            border: 1px solid #ccc;
        }

        #search-wrapper button:hover,
        #mic-icon:hover,
        .topbar-icon:hover,
        .sidebar-icon:hover, .card:hover {
            cursor: pointer;
        }

        #searchbar:focus{
            outline:1px solid rgb(124, 124, 243);
        }

        #content{
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
            gap: 4.8em 3em;
            justify-content: center;
            align-content: start; 
        }
        
        .card{
            display: flex;
            flex-direction: column;
            height: 30%;
        }

        .thumbnail{
            width: 400px;
            border-radius: 15px 15px 0px 0px;
        }

        .video-info{
            display: flex;
            align-items: center;
            gap: 10px;
            height: 15%;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left:10px ;
            border-radius: 0px 0px 15px 15px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        .logo{
            width: 50px;
        }

        .video-details{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .title, .description{
            display: inline;
            margin: 0;
        }

        .description{
            color: gray;
        }

        .title{
            font-weight: bold;
            font-size: 1.4em;
        }
        
        .divider{
            content: "";
            display: block;
            width: 80%;
            border: 1px solid rgb(209, 208, 208);
        }

        .card:hover{
            scale: 1.02;
        }    