 body {
     width: 100%;
     height: 100vh;
 }

 .epicode {
     font-size: large;
     font-weight: 600;
 }

 .epicode:hover {
     color: rgb(250, 27, 94);
 }

 li a:hover {
     color: gold;
 }

 .container {
     border: 1px solid lightgray;
     padding: 10px;
     margin-top: 10px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-color: rgba(176, 196, 222, 0.171);
 }

 .nav {
     border: 1px solid navy;
     background-color: whitesmoke;
 }

 .nav ul {
     display: flex;
     gap: 20px;
     flex-direction: row;
     justify-content: center;
     list-style: none;

 }

 .nav ul li {
     position: relative;
     display: block;
     padding: .6rem 1rem;
     margin: 0 .2rem;
     cursor: pointer;
 }

 .nav ul li::after {
     content: '';
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 2px;
     transform: scale(0);
     background-color: hotpink;
     transition: transform .3s;
 }

 .nav ul li:hover::after {
     transform: scale(1);
 }

 .nav ul li a {
     text-decoration: none;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: black;
     font-weight: 400;
 }

 
 /* Style per il primo esercizio*/
 .container {
     display: flex;
     gap: 2%;
     flex-wrap: wrap;
     align-content: start;
     margin-top: 10px;
 }

 .item:nth-child(1) {
     width: 30%;
     height: 75%;
     padding: 10px
 }

 .item:nth-child(2) {
     flex-grow: 1;
     height: 50%;
     width: 60%;
     display: flex;
     flex-direction: column;
     align-items: start;
     padding-left: 10px;
     padding-right: 10px;
 }

 .item:nth-child(3) {
     width: 100%;
     height: 20%;
     padding-left: 10px;
     padding-bottom: 5px;
     flex-shrink: 1;
     font-family: 'Courier New', Courier, monospace;
     list-style: none;
 }

 table td,
 table th {
     border: 1px solid #c9c9c9;
     padding: 12px;
     text-align: left;
     background-color: white;
 }

 img {
     width: 120px;
 }

 .item {
     font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
 }


 /* Style per il secondo esercizio*/

 .container form {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     gap: 20px
 }

 .form-field {
     display: flex;
     flex-direction: column;
     width: 30%;
     gap: 5px;
 }

 .genere-musicale {
     display: flex;
     flex-direction: column;
     align-items: center;
     border-radius: 3mm;
     border: 1px solid lightgray;
     background-color: rgba(230, 169, 25, 0.103);
     padding: 10px;
     width: 30%;
 }

 .genere {
     display: grid;
     grid-template-columns: repeat(4, auto);
     row-gap: 0px;
     column-gap: 10px;
 }

 #termini {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 10px;
     margin-top: 10px;
     border: 1px solid lightgray;
     padding: 10px;
     width: 30%;
     background-color: whitesmoke;
 }

 /* Style per il quarto esercizio*/

 #quarto-esercizio {
     margin: 0;
     height: 90vh;
     margin-top: 200px;
     font-family: 'Roboto', sans-serif;
 }

 #main {
     width: 100%;
 }

 #content {
     height: 100%;
 }

 #sidebar {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .sidebar-icon {
     padding: 2em;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .sidebar-icon p {
     margin: 0;
 }

 .sidebar-icon ion-icon {
     font-size: 1.5em;
 }

 #topbar {
     height: 8vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 #logo {
     height: 50%;
 }

 #search-wrapper {
     display: flex;
     height: 50%;
 }

 #topbar-icons {
     display: flex;
 }

 #topbar-icons ion-icon {
     font-size: 2em;
 }

 #mic-icon ion-icon {
     font-size: 1.7em;
 }

 #search-btn {
     padding: 0 0.07em;
     font-size: 1.3em;
     display: flex;
     align-items: center;
 }

 #mic-icon {
     margin: 0 0.5em;
     display: flex;
     align-items: center;
 }

 #searchbar {
     width: 30em;
     border: 1px solid #ccc;
     padding: 0 0.5em;
     font-size: 1em;
     border-radius: 30px 0 0 30px
 }

 #search-wrapper button {
     border-radius: 0 30px 30px 0;
     padding: 0 15px;
     border: 1px solid #ccc;
 }

 #search-wrapper button:hover,
 #mic-icon:hover,
 .topbar-icon:hover,
 .sidebar-icon:hover, .card:hover {
     cursor: pointer;
 }

 #searchbar:focus {
     outline: 1px solid rgb(124, 124, 243);
 }

 #content {
     margin-top: 40px;
     display: flex;
     flex-wrap: wrap;
     gap: 4.8em 3em;
     justify-content: center;
     align-content: start;
 }

 .card {
     display: flex;
     flex-direction: column;
     height: 30%;
 }

 .thumbnail {
     width: 400px;
     border-radius: 15px 15px 0px 0px;
 }

 .video-info {
     display: flex;
     align-items: center;
     gap: 10px;
     height: 15%;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 10px;
     border-radius: 0px 0px 15px 15px;
     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
 }

 .logo {
     width: 50px;
 }

 .video-details {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .title, .description {
     display: inline;
     margin: 0;
 }

 .description {
     color: gray;
 }

 .title {
     font-weight: bold;
     font-size: 1.4em;
 }

 .divider {
     content: "";
     display: block;
     width: 80%;
     border: 1px solid rgb(209, 208, 208);
 }

 .card:hover {
     scale: 1.02;
 }

 